In [30]:
import numpy as np
import pandas as pd

In [31]:
data = pd.read_csv('emails.csv')

In [32]:
data

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5727  Subject: re : research and development charges...    0
5728  Subject: re : receipts from visit  jim ,  than...    0
5729  Subject: re : enron case study update  wow ! a...    0
5730  Subject: re : interest  david ,  please , call...    0
5731  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5732 rows x 2 columns]

In [33]:
data['spam'].value_counts()

0                                                                                               4359
1                                                                                               1367
 mr suresh prabhu                                                                                  1
 its termination would not  have such a phenomenal impact on the power situation .  however        1
Name: spam, dtype: int64

In [34]:
data.shape

(5732, 2)

In [35]:
data

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5727  Subject: re : research and development charges...    0
5728  Subject: re : receipts from visit  jim ,  than...    0
5729  Subject: re : enron case study update  wow ! a...    0
5730  Subject: re : interest  david ,  please , call...    0
5731  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5732 rows x 2 columns]

In [36]:
data.isnull().sum()

text    2
spam    4
dtype: int64

In [37]:
data.dropna(inplace =True)

In [38]:
data.isnull().sum()

text    0
spam    0
dtype: int64

In [39]:
x = data.text.values

y = data.spam.values

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

In [45]:
vector=CountVectorizer()
x_train=vector.fit_transform(xtrain)

x_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
from sklearn.naive_bayes import MultinomialNB
model.fit(x_train,ytrain)

MultinomialNB()

In [48]:
x_test=vector.transform(xtest)

In [49]:
result=model.score(x_test,ytest)*100
result

98.95287958115183

In [54]:

emails = ['you are winning the world .',' interest david , please , call..']

vector_emails =vector.transform(emails)

model.predict(vector_emails)

array(['1', '0'], dtype='<U92')

In [55]:
#performance matrix

In [56]:
pred = model.predict(x_test)

pred

array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U92')

In [57]:

from sklearn.metrics import accuracy_score
accuracy_score(ytest,pred)

0.9895287958115183

In [58]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,pred)

array([[  0,   0,   0,   0],
       [  0,   0,   0,   0],
       [  2,   1, 856,   3],
       [  0,   0,   6, 278]], dtype=int64)

In [59]:

from sklearn.metrics import classification_report
print(classification_report(ytest,pred))

                                                                                              precision    recall  f1-score   support

 its termination would not  have such a phenomenal impact on the power situation .  however        0.00      0.00      0.00         0
                                                                           mr suresh prabhu        0.00      0.00      0.00         0
                                                                                           0       0.99      0.99      0.99       862
                                                                                           1       0.99      0.98      0.98       284

                                                                                    accuracy                           0.99      1146
                                                                                   macro avg       0.50      0.49      0.49      1146
                                                                                weighted avg       0.99      0.99      0.99      1146

C:\Users\maruf\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))